# Игнорируем папку node_modules
node_modules/

# Можно также добавить другие файлы и папки, которые вы хотите игнорировать, например:
# Игнорируем файлы настроек IDE
.vscode/
.idea/

# Игнорируем файлы журналов
*.log

# Игнорируем файлы, созданные системой
.DS_Store
Thumbs.db
