.header {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.square {
    width: 150px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.container-img{
    width: 150px;
    height: 150px;
}

.end-text{
    text-align: center;
    font-size: 30px;
}