.surface {
    display: flex;
    justify-content: center;
    position: relative;
}

.square {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}

.square:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.image {
    width: 500px;
    height: 500px;
    transition: transform 1s;
}

.image:hover {
    transform: scale(1.1);
}